{:dep/one          {:a 1}

 :test.job/one     {:dep-one #ig/ref :dep/one}

 :test.job/two     {:identity    ["job-two" "test"]
                    :description "test job"
                    :recover?    true
                    :durable?    false
                    :dep-one     #ig/ref :dep/one
                    :dep-two     #ig/ref :test.job/one}

 :cronut/scheduler {:time-zone #cronut/time-zone "Australia/Melbourne"
                    :schedule  [{:job     #ig/ref :test.job/one
                                 :trigger #cronut/trigger {:type      :simple
                                                           :interval  2
                                                           :time-unit :seconds
                                                           :repeat    :forever}}
                                {:job     #ig/ref :test.job/two
                                 :trigger #cronut/trigger {:type        :simple
                                                           :interval    3000
                                                           :repeat      :forever
                                                           :identity    ["trigger-two" "test"]
                                                           :description "test trigger"
                                                           :start       #inst "2019-01-01T00:00:00.000-00:00"
                                                           :end         #inst "2019-02-01T00:00:00.000-00:00"
                                                           :priority    5}}]}}

